<div class="container">
    <h2>Work</h2>
    <form action="">
        <div class="row mb-5">
            <div class="col">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="" id="title" class="form-control">
            </div>
            <div class="col">
                <label for="tag" class="form-label">Tag</label>
                <input type="text" name="" id="tag" class="form-control">
            </div>
        </div>
        <div class="row">
            <ckeditor class="p-0" [editor]="Editor"></ckeditor>
        </div>
    </form>
</div>