<header>
  <!-- Navbar -->
  <div class="row align-items-center py-3">
    <div class="col-6 d-flex align-items-center">
      <a routerLink="/"><img [width]="43" [height]="56" src="./assets/images/logo.png" alt="" /></a>
      <ul class="d-flex m-0 gap-5">
        <li>
          <a class="text-decoration-none font-500 text-black text-xl" routerLink="/">Home</a>
        </li>

        <li>
          <a class="text-decoration-none font-500 text-black text-xl" routerLink="blog">Blog</a>
        </li>
        <!-- <li>
          <a class="text-decoration-none font-500 text-black text-xl" routerLink="#">Contact</a>
        </li> -->
      </ul>
    </div>

    <div class="col-4">
      <div class="position-relative">
        <input type="text" [value]="searchValue"
          class="search-input ps-4 py-3 border border-2 rounded text-medium text-gray" placeholder="Search posts..."
          (input)="onInputChange($event)" />

        <i (click)="handleClear()" class="fa-solid {{
            searchValue ? 'fa-xmark' : 'fa-magnifying-glass'
          }}  position-absolute top-50 translate-middle-y text-gray text-medium" style="right: 16px"></i>
        <app-search-result [searchResult]="searchResult" [isShowSearch]="isShowSearch"></app-search-result>
      </div>
    </div>
    <!-- <div class="col-1 d-flex justify-content-end">
      <a routerLink="signup"
        class="d-block text-center btn-signup text-decoration-none text-white rounded text-xl font-600">Sign Up</a>
    </div> -->
    <div class="col-2 d-flex justify-content-end">
      <ng-container *ngIf="isLogin; else loginButton">
        <div class="dropdown" (click)="toggleDropdown()">
          <a id="navbarDropdownMenuAvatar" class="dropdown-toggle d-flex align-items-center hidden-arrow" role="button">
            <img [src]="
                userInfo.avatar ||
                'https://api.multiavatar.com/' + userInfo.username + '.png'
              " class="rounded-circle avatarHeader" style="object-fit: cover" width="60" height="60"
              [alt]="userInfo.username" />
          </a>
          <!-- <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a routerLink="user-info" class="dropdown-item" style="cursor: pointer;">My profile</a></li>
            <li><a routerLink="history-blog" class="dropdown-item" style="cursor: pointer;">History blog</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" (click)="logOut()">Logout</a></li>
          </ul> -->
          <!-- </li> -->
          <!-- </ul> -->
          <ul class="dropdown-menu dropdown-menu-end {{
              isHidden ? 'd-none' : 'd-block'
            }}">
            <li>
              <a class="dropdown-item" routerLink="/user-info/{{ userInfo._id }}">My profile</a>
            </li>

            <li *ngIf="userInfo.role === 'admin'">
              <a class="dropdown-item" routerLink="/admin">Admin</a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/" (click)="handleLogout()">Logout</a>
            </li>
          </ul>
        </div>
      </ng-container>
      <ng-template #loginButton>
        <a routerLink="login"
          class="d-inline-block text-center btn-signin text-decoration-none text-white rounded text-xl font-600">Log
          in</a>
      </ng-template>
    </div>
    <!-- <div *ngIf="!user" class="col-2 d-flex justify-content-end">
      <a routerLink="login"
        class="d-inline-block text-center hoverBtn btn-signin text-decoration-none text-white rounded text-xl font-600">Log in
      </a>
    </div>
        class="d-inline-block text-center hoverBtn btn-signin text-decoration-none text-white rounded text-xl font-600">Log
        out</a>
    </div> -->
    <!-- <ng-template #login class="col-2 d-flex justify-content-end gap-2">
      <div class="col-2 d-flex justify-content-end gap-2">
        <a
          routerLink="login"
          class="d-inline-block text-center hoverBtn btn-signin text-decoration-none text-white rounded text-xl font-600"
          >Log in</a
        >
        <a
          routerLink="signup"
          class="d-inline-block text-center hoverBtn btn-signup text-decoration-none rounded text-xl font-600"
          >Register
        </a>
      </div>
    </ng-template> -->
  </div>
</header>

<!-- Right elements -->