<section class="new-post-area mb-5">
  <div class="new-post-title mb-4">
    <h2 class="text-3A1097 font-600 text-2xl">Newest update</h2>
  </div>
  <div class="row justify-content-center gx-5" style="height: 600px">
    <div class="post-left col-sm-12 col-lg-6 mb-5 h-100">
      <div class="img mb-4">
        <img src="{{ posts[0].image }}" class="img-fluid" alt="" />
      </div>
      <div class="post-left-content">
        <div class="post-left-top">
          <div class="tag mb-2">
            <span class="d-inline-block font-600 bg-F3EDFF text-6B6B6B rounded-4 text-sm px-3">Kiến thức</span>
          </div>
          <div class="new-post-item-title">
            <h3>{{ posts[0].title }}</h3>
          </div>
        </div>
        <div class="post-left-bottom">
          <div class="info d-flex align-items-center gap-3">
            <span class="text-6B6B6B text-sm font-600">{{
              posts[0].date
              }}</span>
            <span class="d-inline-block rounded-circle" style="width: 6px; height: 6px; background: #b1b5c3"></span>
            <span class="text-6B6B6B text-sm font-600">{{
              posts[0].author
              }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 right px-4 h-100">
      <div class="post-lists">
        <ngx-slick-carousel class="carousel" [config]="slideConfig" #slickModal="slick-carousel">
          <div ngxSlickItem class="slide" *ngFor="let post of posts">
            <div class="row post-item">
              <div class="col-4">
                <div class="img">
                  <img [src]="post.image" class="img-fluid" alt="" />
                </div>
              </div>
              <div class="col-8">
                <div class="tag mb-2">
                  <span class="d-inline-block font-600 bg-light text-6B6B6B rounded-3 text-sm px-3">Kiến thức</span>
                </div>
                <div class="post-item-title mb-3">
                  <h4 class="text-xl">{{ post.title }}</h4>
                </div>
                <div class="info d-flex align-items-center gap-3">
                  <span class="text-6B6B6B text-sm font-600">{{
                    post.date
                    }}</span>
                  <span class="d-inline-block rounded-circle"
                    style="width: 6px; height: 6px; background: #b1b5c3"></span>
                  <span class="text-6B6B6B text-sm font-600">{{
                    post.author
                    }}</span>
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>