<section class="new-post-area mb-5">
  <div class="new-post-title mb-4">
    <h2 class="text-3A1097 font-600 text-2xl">Newest update</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6 mb-5">
      <a routerLink="/posts/abc" class="text-decoration-none"
        ><div class="img">
          <img src="./assets/images/post1.png" class="img-fluid" alt="" />
        </div>
        <div class="tag mb-2">
          <span
            class="d-inline-block font-600 bg-F3EDFF text-6B6B6B rounded-4 text-sm px-3"
            >Kiến thức</span
          >
        </div>
        <div class="new-post-item-title">
          <h3 class="text-black">
            Hướng dẫn setup phòng cực chill dành cho người mới toàn tập
          </h3>
        </div>
        <div class="info d-flex align-items-center gap-3">
          <span class="text-6B6B6B text-sm font-600">Mar 23</span>
          <span
            class="d-inline-block rounded-circle"
            style="width: 6px; height: 6px; background: #b1b5c3"
          ></span>
          <span class="text-6B6B6B text-sm font-600">Andiez Le</span>
        </div></a
      >
    </div>
    <div class="col-sm-12 col-lg-6 right p-4">
      <div class="post-item d-flex flex-column gap-5">
        <a routerLink="/posts/abc" class="text-decoration-none">
          <div class="row">
            <div class="col-4">
              <div class="img">
                <img src="./assets/images/post2.png" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-8">
              <div class="tag mb-2">
                <span
                  class="d-inline-block font-600 bg-light text-6B6B6B rounded-3 text-sm px-3"
                  >Kiến thức</span
                >
              </div>
              <div class="post-item-title mb-3">
                <h4 class="text-xl text-black">
                  Hướng dẫn setup phòng cực chill dành cho người mới toàn tập
                </h4>
              </div>
              <div class="info d-flex align-items-center gap-3">
                <span class="text-6B6B6B text-sm font-600">Mar 23</span>
                <span
                  class="d-inline-block rounded-circle"
                  style="width: 6px; height: 6px; background: #b1b5c3"
                ></span>
                <span class="text-6B6B6B text-sm font-600">Andiez Le</span>
              </div>
            </div>
          </div>
        </a>
        <a routerLink="/posts/abc" class="text-decoration-none">
          <div class="row">
            <div class="col-4">
              <div class="img">
                <img src="./assets/images/post2.png" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-8">
              <div class="tag mb-2">
                <span
                  class="d-inline-block font-600 bg-light text-6B6B6B rounded-3 text-sm px-3"
                  >Kiến thức</span
                >
              </div>
              <div class="post-item-title mb-3">
                <h4 class="text-xl text-black">
                  Hướng dẫn setup phòng cực chill dành cho người mới toàn tập
                </h4>
              </div>
              <div class="info d-flex align-items-center gap-3">
                <span class="text-6B6B6B text-sm font-600">Mar 23</span>
                <span
                  class="d-inline-block rounded-circle"
                  style="width: 6px; height: 6px; background: #b1b5c3"
                ></span>
                <span class="text-6B6B6B text-sm font-600">Andiez Le</span>
              </div>
            </div>
          </div>
        </a>
        <a routerLink="/posts/abc" class="text-decoration-none">
          <div class="row">
            <div class="col-4">
              <div class="img">
                <img src="./assets/images/post2.png" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-8">
              <div class="tag mb-2">
                <span
                  class="d-inline-block font-600 bg-light text-6B6B6B rounded-3 text-sm px-3"
                  >Kiến thức</span
                >
              </div>
              <div class="post-item-title mb-3">
                <h4 class="text-xl text-black">
                  Hướng dẫn setup phòng cực chill dành cho người mới toàn tập
                </h4>
              </div>
              <div class="info d-flex align-items-center gap-3">
                <span class="text-6B6B6B text-sm font-600">Mar 23</span>
                <span
                  class="d-inline-block rounded-circle"
                  style="width: 6px; height: 6px; background: #b1b5c3"
                ></span>
                <span class="text-6B6B6B text-sm font-600">Andiez Le</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
