<div class="container pt-3 pb-3 pt-lg-2 pb-lg-3">
  <div class="row mt-3">
    <div class="col-3">
      <div>
        <ul class="p-2 list-group" style="cursor: pointer; border-radius: 16px">
          <li
            (click)="getAllPosts()"
            class="list-group-item list-group-item-action"
          >
            <a class="cate-post" style="cursor: pointer">Tất cả</a>
          </li>
        </ul>
        <ul
          *ngFor="let category of categories"
          class="p-2 list-group"
          style="cursor: pointer; border-radius: 16px"
        >
          <li
            (click)="getPosts(category._id!)"
            class="list-group-item list-group-item-action"
          >
            <a class="cate-post" style="cursor: pointer">
              {{ category.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div *ngFor="let post of posts" class="row pt-2">
        <div class="col">
          <article class="blog-style2 card">
            <div class="feature-image col-sm-4">
              <div class="image-hover-style-1 image-frame" style="height: 100%">
                <!-- <a routerLink="/posts/{{post._id}}">
                  <img class="" [src]="post.images[0].url" style="height: 100%;"> -->
                <a routerLink="/posts/{{ post._id }}">
                  <img
                    class=""
                    [src]="post.images[0].url"
                    alt="{{ post.title }}"
                    style="height: 100%"
                  />
                </a>
              </div>
            </div>
            <div class="card-body col-sm-8">
              <div class="card-flex-content">
                <h6 class="label label-info mb-3">
                  <span> {{ post?.category?.name }}</span>
                </h6>
                <h5>
                  <a
                    class="card-title lh-base"
                    routerLink="/posts/{{ post._id }}"
                    >{{ post?.title }}</a
                  >
                </h5>
                <a
                  routerLink="/posts/{{ post._id }}"
                  class="demo-content d-inline-block"
                >
                  <div class="demo-content" [innerHTML]="post.content"></div>
                </a>
                <div class="user-info row pt-2 align-center g-5">
                  <div class="col-lg-2 p-0 ps-3">
                    <img
                      alt="{{ post?.author?.username || 'Người dùng blog' }}"
                      style="border-radius: 100%; object-fit: cover"
                      [src]="
                        post?.author?.avatar ||
                        'https://api.multiavatar.com/' +
                          post?.author?.username +
                          '.png'
                      "
                    />
                    <!-- <h6 class="label label-info mb-3">
                  <span> {{ post.category.name }}</span>
                </h6>
                <h5>
                  <a class="card-title lh-base" href="#">{{ post.title }}</a>
                </h5>
                <div class="demo-content" [innerHTML]="post.content">
                  {{ post.content }}
                </div>
                <div class="user-info row pt-2 align-center">
                  <div class="col-lg-1 p-0 ps-3">
                    <img [src]="
                        post?.author?.avatar ||
                        'https://api.multiavatar.com/' +
                          post?.author?.username +
                          '.png'
                      " /> -->
                    <!-- </div> -->
                  </div>
                  <div class="col-lg-10 p-0">
                    <div class="author-block pt-2 ps-3">
                      <p>{{ post?.author?.username || "Người dùng blog" }}</p>
                    </div>
                  </div>

                  <!-- <div class="row pt-3 align-center">
                                        <div class="col-lg-3">
                                            <div class="author-block avatar">
                                                <img [src]="
                          post.author.avatar ||
                          'https://api.multiavatar.com/' +
                            post.author.username +
                            '.png'
                        " />
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="author-block pt-2">
                                                <p>{{ post.author.username }}</p>
                                            </div>
                                        </div>
                                    </div> -->
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="pagination py-3 d-flex justify-content-center">
        <nav *ngIf="!ishiddenPagination">
          <ul class="pagination">
            <li
              class="page-item {{
                hasPrevPage ? '' : 'disabled user-select-none'
              }}"
            >
              <button (click)="prevPage()" class="page-link" tabindex="-1">
                Previous
              </button>
            </li>
            <li *ngFor="let item of totalPagesArray" class="page-item">
              <button
                class="page-link  {{ currentPage === item ? 'active' : '' }}"
                (click)="goToPage(item)"
              >
                {{ item }}
              </button>
            </li>
            <!-- <li class="page-item active">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li> -->
            <li
              class="page-item {{
                hasNextPage ? '' : 'disabled user-select-none'
              }}"
            >
              <button class="page-link" (click)="nextPage()">Next</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- <mat-paginator
      [length]="totalDocs"
      [pageSize]="10"
      aria-label="Select page"
    >
    </mat-paginator> -->
  </div>
</div>
