<section class="row">
  <div class="col-sm-6 col-md-4 col-lg-3 p-2 mb-5">
    <a routerLink="/posts/abc" class="text-decoration-none">
      <div class="img">
        <img src="./assets/images/post3.png" alt="" class="img-fluid mx-auto" />
      </div>
      <div
        class="d-inline-block font-600 bg-F3EDFF text-6B6B6B rounded-4 text-sm px-3 mb-3"
      >
        <span>Kiến thức</span>
      </div>
      <div class="posts-title">
        <h4 class="text-xl font-600 text-black">
          Hướng dẫn setup phòng cực chill dành cho người mới toàn tập
        </h4>
      </div>
      <div class="info d-flex align-items-center gap-3">
        <span class="text-6B6B6B text-sm font-600">Mar 23</span>
        <span
          class="d-inline-block rounded-circle"
          style="width: 6px; height: 6px; background: #b1b5c3"
        ></span>
        <span class="text-6B6B6B text-sm font-600">Andiez Le</span>
      </div></a
    >
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 p-2 mb-5">
    <a routerLink="/posts/abc" class="text-decoration-none">
      <div class="img">
        <img src="./assets/images/post3.png" alt="" class="img-fluid mx-auto" />
      </div>
      <div
        class="d-inline-block font-600 bg-F3EDFF text-6B6B6B rounded-4 text-sm px-3 mb-3"
      >
        <span>Kiến thức</span>
      </div>
      <div class="posts-title">
        <h4 class="text-xl font-600 text-black">
          Hướng dẫn setup phòng cực chill dành cho người mới toàn tập
        </h4>
      </div>
      <div class="info d-flex align-items-center gap-3">
        <span class="text-6B6B6B text-sm font-600">Mar 23</span>
        <span
          class="d-inline-block rounded-circle"
          style="width: 6px; height: 6px; background: #b1b5c3"
        ></span>
        <span class="text-6B6B6B text-sm font-600">Andiez Le</span>
      </div></a
    >
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 p-2 mb-5">
    <a routerLink="/posts/abc" class="text-decoration-none">
      <div class="img">
        <img src="./assets/images/post3.png" alt="" class="img-fluid mx-auto" />
      </div>
      <div
        class="d-inline-block font-600 bg-F3EDFF text-6B6B6B rounded-4 text-sm px-3 mb-3"
      >
        <span>Kiến thức</span>
      </div>
      <div class="posts-title">
        <h4 class="text-xl font-600 text-black">
          Hướng dẫn setup phòng cực chill dành cho người mới toàn tập
        </h4>
      </div>
      <div class="info d-flex align-items-center gap-3">
        <span class="text-6B6B6B text-sm font-600">Mar 23</span>
        <span
          class="d-inline-block rounded-circle"
          style="width: 6px; height: 6px; background: #b1b5c3"
        ></span>
        <span class="text-6B6B6B text-sm font-600">Andiez Le</span>
      </div></a
    >
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 p-2 mb-5">
    <a routerLink="/posts/abc" class="text-decoration-none">
      <div class="img">
        <img src="./assets/images/post3.png" alt="" class="img-fluid mx-auto" />
      </div>
      <div
        class="d-inline-block font-600 bg-F3EDFF text-6B6B6B rounded-4 text-sm px-3 mb-3"
      >
        <span>Kiến thức</span>
      </div>
      <div class="posts-title">
        <h4 class="text-xl font-600 text-black">
          Hướng dẫn setup phòng cực chill dành cho người mới toàn tập
        </h4>
      </div>
      <div class="info d-flex align-items-center gap-3">
        <span class="text-6B6B6B text-sm font-600">Mar 23</span>
        <span
          class="d-inline-block rounded-circle"
          style="width: 6px; height: 6px; background: #b1b5c3"
        ></span>
        <span class="text-6B6B6B text-sm font-600">Andiez Le</span>
      </div></a
    >
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 p-2 mb-5">
    <a routerLink="/posts/abc" class="text-decoration-none">
      <div class="img">
        <img src="./assets/images/post3.png" alt="" class="img-fluid mx-auto" />
      </div>
      <div
        class="d-inline-block font-600 bg-F3EDFF text-6B6B6B rounded-4 text-sm px-3 mb-3"
      >
        <span>Kiến thức</span>
      </div>
      <div class="posts-title">
        <h4 class="text-xl font-600 text-black">
          Hướng dẫn setup phòng cực chill dành cho người mới toàn tập
        </h4>
      </div>
      <div class="info d-flex align-items-center gap-3">
        <span class="text-6B6B6B text-sm font-600">Mar 23</span>
        <span
          class="d-inline-block rounded-circle"
          style="width: 6px; height: 6px; background: #b1b5c3"
        ></span>
        <span class="text-6B6B6B text-sm font-600">Andiez Le</span>
      </div></a
    >
  </div>
</section>
