<div class="container">
  <section class="row g-2">
    <ngx-slick-carousel
      class="carousel"
      [config]="slideConfig"
      #slickModal="slick-carousel"
    >
      <div
        ngxSlickItem
        class="slide card col-sm-6 col-md-4 col-lg-3 mx-2"
        *ngFor="let post of posts"
      >
        <a
          routerLink="/posts/{{ post._id }}"
          class="text-decoration-none text-black"
        >
          <div class="p-2 card-container">
            <div class="img">
              <img
                *ngFor="let img of post.images"
                [src]="img.url"
                alt=""
                class="img-fluid mx-auto"
              />
            </div>
            <div class="card-body">
              <div class="card-top">
                <div
                  class="d-inline-block font-600 bg-F3EDFF text-6B6B6B rounded-4 text-sm px-3 mb-3"
                >
                  <span>{{ post.category.name }}</span>
                </div>
                <div class="posts-title">
                  <h4 class="text-xl font-600">{{ post.title }}</h4>
                </div>
              </div>
              <div class="card-bottom">
                <div class="info d-flex align-items-center gap-3">
                  <span class="text-6B6B6B text-sm font-600">{{
                    post.createdAt
                  }}</span>
                  <span
                    class="d-inline-block rounded-circle"
                    style="width: 6px; height: 6px; background: #b1b5c3"
                  ></span>
                  <span class="text-6B6B6B text-sm font-600">{{
                    post.author.username
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </ngx-slick-carousel>
  </section>
</div>
