<p>hash-tag-edit works!</p>
<div class="container">
  <div class="row g-5">
    <div class="col-6 text-capitalize">
      <h2>Thêm Hashtag bài viết</h2>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-end align-items-center">
        <a routerLink="/admin/manager-tags">Quay lại</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="editForm" class="mt-5 form" (submit)="handleSubmitEditForm()">
        <div class="form-group mb-5">
          <input type="text" placeholder="Hashtag" formControlName="title" class="form__input">
          <div
            *ngIf="editForm.get('title')?.invalid && (editForm.get('title')?.dirty || editForm.get('title')?.touched)"
            class="text-danger">
            <div *ngIf="editForm.get('title')?.errors?.['required']">
              Hashtag is required.
            </div>
            <div *ngIf="editForm.get('title')?.errors?.['minlength']">
              Hashtag must be at least 4 characters long.
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="editForm.invalid"
          class="btn btn-primary d-flex justify-content-between align-items-center">
          <i class="fa-solid fa-plus"></i>
          <span>Thêm</span>
        </button>
      </form>
    </div>
  </div>
</div>
