<div class="">
  <!-- Account page navigation-->
  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <img
            class="img-account-profile rounded-circle mb-2 m-auto"
            [src]="
              user.avatar ||
              'https://api.multiavatar.com/' + user.username + '.png'
            "
            alt=""
          />
          <!-- Profile picture upload button-->
          <button class="btn btn-upload-img text-light" type="button">
            Upload new image
          </button>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header">Account Details</div>
        <div class="card-body">
          <form [formGroup]="userInfo">
            <!-- Form Group (username)-->
            <div class="mb-3">
              <label class="small mb-1" for="inputUsername">Username</label>
              <input
                class="form-control"
                id="inputUsername"
                type="text"
                placeholder="Enter your username"
                value="username"
                formControlName="username"
              />
            </div>
            <!-- Form Row-->
            <!-- <div class="row gx-3 mb-3">
                            Form Group (first name)
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="Valerie">
                            </div>
                            Form Group (last name)
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="Luna">
                            </div>
                        </div> -->

            <!-- Form Group (email address)-->
            <div class="mb-3">
              <label class="small mb-1" for="inputEmailAddress"
                >Email address</label
              >
              <input
                class="form-control"
                id="inputEmailAddress"
                type="email"
                placeholder="Enter your email address"
                value="name@example.com"
                formControlName="email"
              />
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputPhone">Address</label>
                <input
                  class="form-control"
                  type="string"
                  placeholder="Enter your address"
                  formControlName="address"
                />
              </div>
              <!-- Form Group (birthday)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputBirthday"
                  >Phone number</label
                >
                <input
                  class="form-control"
                  id="inputBirthday"
                  type="text"
                  placeholder="Enter your phone number"
                  formControlName="phone"
                />
              </div>
            </div>
            <!-- Save changes button-->
            <button class="btn btn-upload-img text-light" type="button">
              Save changes
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
